{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <div>
    <h2>{% trans 'Are you sure you want to delete this task?' %}</h2>
    <p>{{ task.title }}</p>
    <div class="d-flex">
      <div>
        <form method="post" action="{% url 'delete_task' task.id %}">
          {% csrf_token %}
          <button class="btn btn-danger" type="submit" value="Delete">Delete</button>
        </form>
      </div>
      <div>
        <a class="btn btn-primary" href="{% url 'tasks' %}">Cancel</a>
      </div>
    </div>
  </div>
{% endblock %}
